*{
    font-family: 'Rajdhani', sans-serif;
    max-width:100%;
    box-sizing: border-box;
}

header{
color:white;
background-color: peru;
text-align:center;
font-size: 1.5em;
padding:10px 10px 10px 10px;
}

body{
margin: 0%;
background-color:rgba(250, 250, 250, 0.958);
line-height: 1.6;
}

.container{
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: flex-start;
    flex-wrap: wrap;
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

 #primus{
    display:flex;
    flex-direction: column;
    box-shadow: none;
    margin: auto;
    border:none;
    border-bottom: solid 2px #014054;
    border-top: double 6px #014054;
}

form{
    max-width: 100%;
    align-items: center;
    background: #eeefef;
    padding: 10px 10px 10px 10px;
}


h1{
    text-align: center;
    font-size: 22px;
    font-weight: 600;
}
.section-1 p{
    opacity: 0.50;
    text-align: center;
    line-height: 1.0em;
}

.section-1{
    margin:10px 10px 10px 10px;
}
#copy{
    opacity: 0.65;
    font-style: italic;
    font-size: 1.0rem;
}

button{
    padding:10px 72px;
    text-align: center;
    margin: auto;
    margin-top: 1.5em;
    border: 3em;
    background-color: mediumturquoise;
    font-size:22px;
    color: white;
    border-radius: 6px 6px;
}

label{
    text-align: left;
    font-size: 0.8em;
    padding: 5px;
}

legend{
    float: left;
    font-weight:bold;
    font-size:1.2em;
    text-align: left;
    
    }

#primus legend{
        padding-top: 15px;
        
        }
        
 #secundus{
            margin-top: 15px;
        }

#secundus legend{
        margin-top:15px;
        
        }

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"],
select{
        text-align: right;
        border-radius: 3px 3px 3px 3px;
        height:2.5em;
        margin: 10px 0px;
    }

    
input, select, textarea{
    max-width: 96%;
    background-color:#e8eeef;
    box-shadow: none;
    border: width 1px;
}

#zip{
    max-width: 48%;
    margin-bottom: 1.25em;
}

input:focus{
margin:20px;
border-color:rgb(255, 0, 0);
}

    input[type="radio"],
input[type="checkbox"] {
  margin: 0 4px 8px 0;
  height: 1em;
}


@media(min-width: 768px){


}